In [2]:
import pandas as pd

In [26]:
data = pd.read_csv(r'C:\Users\wadood\Desktop\my personal proj\main_data\synthetic_asthma_dataset.csv')

In [27]:
df = data.drop(columns=['Patient_ID'])

In [28]:
df.head(3)

,Age,Gender,BMI,Smoking_Status,Family_History,Allergies,Air_Pollution_Level,Physical_Activity_Level,Occupation_Type,Comorbidities,Medication_Adherence,Number_of_ER_Visits,Peak_Expiratory_Flow,FeNO_Level,Has_Asthma,Asthma_Control_Level
0,52,Female,27.6,Former,1,NaN,Moderate,Sedentary,Outdoor,Diabetes,0.38,0,421.0,46.0,0,NaN
1,15,Male,24.6,Former,0,Dust,Low,Moderate,Indoor,Both,0.60,2,297.6,22.9,0,NaN
2,72,Female,17.6,Never,0,NaN,Moderate,Moderate,Indoor,NaN,0.38,0,303.3,15.3,0,NaN

In [29]:
df.isnull().sum()

Age                           0
Gender                        0
BMI                           0
Smoking_Status                0
Family_History                0
Allergies                  2936
Air_Pollution_Level           0
Physical_Activity_Level       0
Occupation_Type               0
Comorbidities              4967
Medication_Adherence          0
Number_of_ER_Visits           0
Peak_Expiratory_Flow          0
FeNO_Level                    0
Has_Asthma                    0
Asthma_Control_Level       7567
dtype: int64

In [30]:
df['Asthma_Control_Level'].unique()

array([nan, 'Poorly Controlled', 'Not Controlled', 'Well Controlled'],
      dtype=object)

In [31]:
df['Allergies'] = df['Allergies'].fillna(df['Allergies'].mode()[0])
df['Comorbidities'] = df['Comorbidities'].fillna(df['Comorbidities'].mode()[0])
df['Asthma_Control_Level'] = df['Asthma_Control_Level'].fillna(df['Asthma_Control_Level'].mode()[0])

In [38]:
col = list(df.columns)
for i in col:
    if df[i].dtype == object:
        print(i, '------->   ', df[i].unique())

Gender ------->    ['Female' 'Male' 'Other']
Smoking_Status ------->    ['Former' 'Never' 'Current']
Allergies ------->    ['Dust' 'Multiple' 'Pollen' 'Pets']
Air_Pollution_Level ------->    ['Moderate' 'Low' 'High']
Physical_Activity_Level ------->    ['Sedentary' 'Moderate' 'Active']
Occupation_Type ------->    ['Outdoor' 'Indoor']
Comorbidities ------->    ['Diabetes' 'Both' 'Hypertension']
Asthma_Control_Level ------->    ['Not Controlled' 'Poorly Controlled' 'Well Controlled']

In [40]:
"""
Doing label encoding using for loop. 
"""

target = ['Gender', 'Smoking_Status', 'Allergies', 'Comorbidities']
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in target:
    df[i] = le.fit_transform(df[i])

In [42]:
"""
Doing ordinal encoding using for loop.
"""

target2 = ['Air_Pollution_Level', 'Physical_Activity_Level', 'Occupation_Type', 'Asthma_Control_Level']
from sklearn.preprocessing import OrdinalEncoder
Or = OrdinalEncoder()
for i in target2:
    df[i] = Or.fit_transform(df[[i]])

In [48]:
df.describe()

,Age,Gender,BMI,Smoking_Status,Family_History,Allergies,Air_Pollution_Level,Physical_Activity_Level,Occupation_Type,Comorbidities,Medication_Adherence,Number_of_ER_Visits,Peak_Expiratory_Flow,FeNO_Level,Has_Asthma,Asthma_Control_Level
count,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,10000.000000,1.000000e+04
mean,-6.110668e-17,3.126388e-17,-5.968559e-16,1.634248e-16,-7.744916e-17,6.998846e-17,-9.059420e-17,-8.810730e-17,1.705303e-17,8.668621e-17,2.643219e-16,-4.689582e-17,-1.609379e-16,-9.094947e-17,0.243300,3.836931e-17
std,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,0.429096,1.000050e+00
min,-1.712546e+00,-9.774970e-01,-2.062548e+00,-1.995647e+00,-6.599576e-01,-8.304026e-01,-1.624221e+00,-1.596938e+00,-6.492027e-01,-2.049475e+00,-2.215320e+00,-9.954795e-01,-2.572478e+00,-2.042891e+00,0.000000,-3.585942e-01
25%,-8.549222e-01,-9.774970e-01,-7.084863e-01,-6.312886e-01,-6.599576e-01,-8.304026e-01,-3.566846e-01,-2.698059e-01,-6.492027e-01,-1.917203e-01,-7.918155e-01,-9.954795e-01,-6.776032e-01,-7.013858e-01,0.000000,-3.585942e-01
50%,2.701515e-03,7.724081e-01,-1.093918e-02,7.330698e-01,-6.599576e-01,-8.304026e-01,-3.566846e-01,-2.698059e-01,-6.492027e-01,-1.917203e-01,8.905800e-03,-1.558040e-02,1.656898e-02,-1.030723e-02,0.000000,-3.585942e-01
75%,8.603252e-01,7.724081e-01,6.866080e-01,7.330698e-01,1.515249e+00,8.029621e-01,9.108514e-01,1.057326e+00,1.540351e+00,-1.917203e-01,7.651426e-01,9.643187e-01,6.953607e-01,6.706084e-01,0.000000,-3.585942e-01
max,1.717949e+00,2.522313e+00,4.092279e+00,7.330698e-01,1.515249e+00,1.619644e+00,9.108514e-01,1.057326e+00,1.540351e+00,1.666035e+00,2.188647e+00,4.883915e+00,2.041665e+00,3.943068e+00,1.000000,5.209638e+00

In [47]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
Data = df.drop(columns=['Has_Asthma'])
target3 = list(Data.columns)
for i in target3:
    df[i] = sc.fit_transform(df[[i]])

In [49]:
x = df.drop(columns=['Has_Asthma'])
y = df['Has_Asthma']

In [ ]:
from sklearn.model_selection import train_test_split