In [1]:
import pandas as pd

In [20]:
data = pd.read_csv(r'C:\Users\wadood\Desktop\my personal proj\main_data\synthetic_asthma_dataset.csv')

In [21]:
data.head()

,Patient_ID,Age,Gender,BMI,Smoking_Status,Family_History,Allergies,Air_Pollution_Level,Physical_Activity_Level,Occupation_Type,Comorbidities,Medication_Adherence,Number_of_ER_Visits,Peak_Expiratory_Flow,FeNO_Level,Has_Asthma,Asthma_Control_Level
0,ASTH100000,52,Female,27.6,Former,1,NaN,Moderate,Sedentary,Outdoor,Diabetes,0.38,0,421.0,46.0,0,NaN
1,ASTH100001,15,Male,24.6,Former,0,Dust,Low,Moderate,Indoor,Both,0.60,2,297.6,22.9,0,NaN
2,ASTH100002,72,Female,17.6,Never,0,NaN,Moderate,Moderate,Indoor,NaN,0.38,0,303.3,15.3,0,NaN
3,ASTH100003,61,Male,16.8,Never,0,Multiple,High,Sedentary,Outdoor,Both,0.60,1,438.0,40.1,1,Poorly Controlled
4,ASTH100004,21,Male,30.2,Never,0,NaN,Moderate,Active,Indoor,NaN,0.82,3,535.0,27.7,0,NaN

In [3]:
df = data.drop(columns=['Patient_ID'])

In [4]:
df.head(3)

,Age,Gender,BMI,Smoking_Status,Family_History,Allergies,Air_Pollution_Level,Physical_Activity_Level,Occupation_Type,Comorbidities,Medication_Adherence,Number_of_ER_Visits,Peak_Expiratory_Flow,FeNO_Level,Has_Asthma,Asthma_Control_Level
0,52,Female,27.6,Former,1,NaN,Moderate,Sedentary,Outdoor,Diabetes,0.38,0,421.0,46.0,0,NaN
1,15,Male,24.6,Former,0,Dust,Low,Moderate,Indoor,Both,0.60,2,297.6,22.9,0,NaN
2,72,Female,17.6,Never,0,NaN,Moderate,Moderate,Indoor,NaN,0.38,0,303.3,15.3,0,NaN

In [5]:
df.isnull().sum()

Age                           0
Gender                        0
BMI                           0
Smoking_Status                0
Family_History                0
Allergies                  2936
Air_Pollution_Level           0
Physical_Activity_Level       0
Occupation_Type               0
Comorbidities              4967
Medication_Adherence          0
Number_of_ER_Visits           0
Peak_Expiratory_Flow          0
FeNO_Level                    0
Has_Asthma                    0
Asthma_Control_Level       7567
dtype: int64

In [6]:
df['Asthma_Control_Level'].unique()

array([nan, 'Poorly Controlled', 'Not Controlled', 'Well Controlled'],
      dtype=object)

In [7]:
df['Allergies'] = df['Allergies'].fillna(df['Allergies'].mode()[0])
df['Comorbidities'] = df['Comorbidities'].fillna(df['Comorbidities'].mode()[0])
df['Asthma_Control_Level'] = df['Asthma_Control_Level'].fillna(df['Asthma_Control_Level'].mode()[0])

In [8]:
col = list(df.columns)
for i in col:
    if df[i].dtype == object:
        print(i, '------->   ', df[i].unique())

Gender ------->    ['Female' 'Male' 'Other']
Smoking_Status ------->    ['Former' 'Never' 'Current']
Allergies ------->    ['Dust' 'Multiple' 'Pollen' 'Pets']
Air_Pollution_Level ------->    ['Moderate' 'Low' 'High']
Physical_Activity_Level ------->    ['Sedentary' 'Moderate' 'Active']
Occupation_Type ------->    ['Outdoor' 'Indoor']
Comorbidities ------->    ['Diabetes' 'Both' 'Hypertension']
Asthma_Control_Level ------->    ['Not Controlled' 'Poorly Controlled' 'Well Controlled']

In [9]:
"""
Doing label encoding using for loop. 
"""

target = ['Gender', 'Smoking_Status', 'Allergies', 'Comorbidities']
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in target:
    df[i] = le.fit_transform(df[i])

In [10]:
"""
Doing ordinal encoding using for loop.
"""

target2 = ['Air_Pollution_Level', 'Physical_Activity_Level', 'Occupation_Type', 'Asthma_Control_Level']
from sklearn.preprocessing import OrdinalEncoder
Or = OrdinalEncoder()
for i in target2:
    df[i] = Or.fit_transform(df[[i]])

In [11]:
df.describe()

,Age,Gender,BMI,Smoking_Status,Family_History,Allergies,Air_Pollution_Level,Physical_Activity_Level,Occupation_Type,Comorbidities,Medication_Adherence,Number_of_ER_Visits,Peak_Expiratory_Flow,FeNO_Level,Has_Asthma,Asthma_Control_Level
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,44.930700,0.558600,25.053320,1.462700,0.303400,1.016800,1.281400,1.203300,0.296500,1.103200,0.497998,1.015900,400.884090,25.101420,0.243300,0.128800
std,25.653559,0.571488,4.874466,0.732982,0.459749,1.224528,0.788972,0.753542,0.456737,0.538311,0.224809,1.020564,97.531113,9.840184,0.429096,0.359198
min,1.000000,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,150.000000,5.000000,0.000000,0.000000
25%,23.000000,0.000000,21.600000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.320000,0.000000,334.800000,18.200000,0.000000,0.000000
50%,45.000000,1.000000,25.000000,2.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.500000,1.000000,402.500000,25.000000,0.000000,0.000000
75%,67.000000,1.000000,28.400000,2.000000,1.000000,2.000000,2.000000,2.000000,1.000000,1.000000,0.670000,2.000000,468.700000,31.700000,0.000000,0.000000
max,89.000000,2.000000,45.000000,2.000000,1.000000,3.000000,2.000000,2.000000,1.000000,2.000000,0.990000,6.000000,600.000000,63.900000,1.000000,2.000000

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
Data = df.drop(columns=['Has_Asthma'])
target3 = list(Data.columns)
for i in target3:
    df[i] = sc.fit_transform(df[[i]])

In [13]:
x = df.drop(columns=['Has_Asthma'])
y = df['Has_Asthma']

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

log = LogisticRegression( penalty='l2', C=1.0,solver='lbfgs',max_iter=1000,random_state=42)
svm  = SVC( kernel='rbf',
    C=1.0,
    gamma='scale',
    random_state=42)
tree = RandomForestClassifier()

clf = [log, svm, tree]
for model in clf:
    print(model)
    model.fit(x_train, y_train)
    print(f'score --> {model.score(x_test, y_test)}')

LogisticRegression(max_iter=1000, random_state=42)
score --> 0.931
SVC(random_state=42)
score --> 0.9675
RandomForestClassifier()
score --> 0.9765

In [32]:
# Get predictions & probabilities
prediction = model.predict(x_test)
probs = model.predict_proba(x_test)[:, 1]

# Match IDs to test rows
ids_for_test = data.loc[x_test.index, 'Patient_ID']

# Create DataFrame
output_df = pd.DataFrame({
    'id': ids_for_test,
    'prediction': prediction,
    'probability': probs
})

# Save
output_df.to_csv('predictions.csv', index=False)
print("Saved predictions.csv")

Saved predictions.csv